<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>轉跳至 <%= title %></p>
    <%- paymentHtml %>
  </body>
  <script type="text/javascript">
    console.log("表單加載成功");
  </script>
</html>
