@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chocolate Classical Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
  caret-color: transparent;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.5rem;
  padding: 0.5rem;
}
.input-container .input-label {
  display: block;
  text-align: center;
  width: 6rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.1rem;
  white-space: nowrap; /* 防止文字換行 */
}
.input-container .input-element {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  caret-color: auto;
}
.input-container .error-message {
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  text-align: center;
  color: red;
  margin-top: 0.5rem;
}

.button {
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: rgb(109, 109, 109);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: gray;
}
.button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.small-button {
  padding: 0.1rem 1rem;
  font-size: 1rem;
}

.verify-form {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

li {
  position: relative;
  list-style: none;
}
li .full-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  padding: 10px;
  box-sizing: border-box;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(80, 79, 79, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}
.modal-overlay .modal-container {
  background: white;
  padding: 0.2rem;
  margin: 0.5rem;
  width: 80%;
  height: 80vh;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}
.modal-overlay h2 {
  width: 100%;
  height: 6%;
  text-align: center;
}
.modal-overlay .modal-content {
  width: 100%;
  height: 95%;
  display: flex;
}

div.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
div.layout header.header {
  height: 8vh;
  margin: 0.5rem;
  margin-top: 0rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
div.layout main.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
div.layout main.main .user-center-layout {
  flex: 1;
  padding: 1rem;
  display: flex;
  background-color: rgb(240, 240, 240);
}
div.layout main.main .user-center-layout .user-center-nav {
  margin: 0rem 1rem;
  height: 100%;
  flex-basis: 15%;
  display: flex;
  flex-direction: column;
}
div.layout main.main .user-center-layout .user-center-content {
  padding: 0.5rem;
  margin: 0rem 1rem;
  height: 100%;
  flex-basis: 85%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.layout footer.footer {
  padding: 1rem;
  text-align: center;
  background-color: gray;
}

nav.commonNav ul {
  display: flex;
  justify-content: center;
}
nav.commonNav ul li {
  display: flex;
  cursor: pointer;
}
nav.commonNav ul li:hover {
  background-color: gray;
  border-radius: 1rem;
}
nav.commonNav ul li:hover a {
  color: white;
}
nav.commonNav ul li a {
  padding: 1rem;
  color: gray;
  font-size: 1.1rem;
}

.auth-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.auth-container .auth-form {
  margin-top: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.auth-container .auth-form .auth-form__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: gray;
}
.auth-container .auth-form .auth-form__form {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.auth-container .auth-form .auth-form__form .auth-form__field {
  width: 100%;
  display: flex;
  justify-content: center;
}
.auth-container .auth-form .auth-form__form .auth-form__field .auth-form__submit {
  margin: 1rem;
}

.img-manager {
  box-sizing: border-box;
  margin: 0.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.img-manager .image-manager__local {
  box-sizing: border-box;
  margin: 0.25rem;
  display: flex;
}
.img-manager .image-manager__local .image-manager__title {
  margin: 0.25rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: gray;
}
.img-manager .image-manager__local .image-manager__upload-input {
  margin: 0.25rem;
}
.img-manager .image-manager__local .image-manager__upload-input input::file-selector-button {
  background-color: rgb(109, 109, 109);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}
.img-manager .image-manager__local .image-manager__upload-input input::file-selector-button:hover {
  background-color: gray;
}
.img-manager .image-manager__gallery {
  box-sizing: border-box;
  margin: 0.25rem;
  display: flex;
}
.img-manager .image-manager__gallery .image-manager__upload-list {
  margin: 0.25rem;
  display: flex;
  flex-wrap: wrap;
}
.img-manager .image-manager__gallery .image-manager__upload-list .image-manager__item {
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.66);
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(25% - 0.5rem);
  height: calc(25vh - 0.5rem);
}
.img-manager .image-manager__gallery .image-manager__upload-list .image-manager__item .image-manager__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.img-manager .image-manager__gallery .image-manager__upload-list .image-manager__item .image-manager__btn-group {
  display: flex;
}
.img-manager .image-manager__next-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leftMenu {
  display: flex;
  flex-direction: column;
}
.leftMenu .dropdown {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}
.leftMenu .dropdown button.dropdown-button {
  margin-top: 1rem;
  border: none;
  font-size: 1.2rem;
  background-color: rgb(109, 109, 109);
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}
.leftMenu .dropdown button.dropdown-button:hover {
  background-color: gray;
}
.leftMenu .dropdown ul.dropdown-menu {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.5rem;
}
.leftMenu .dropdown ul.dropdown-menu li,
.leftMenu .dropdown ul.dropdown-menu li.active-menu {
  cursor: pointer;
  margin-top: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  border: none;
  color: white;
}
.leftMenu .dropdown ul.dropdown-menu li:hover,
.leftMenu .dropdown ul.dropdown-menu li.active-menu:hover {
  background-color: rgb(167, 165, 165);
  border-radius: 1rem;
}
.leftMenu .dropdown ul.dropdown-menu li:hover a,
.leftMenu .dropdown ul.dropdown-menu li.active-menu:hover a {
  color: white;
}
.leftMenu .dropdown ul.dropdown-menu li a,
.leftMenu .dropdown ul.dropdown-menu li.active-menu a {
  color: rgb(78, 78, 78);
  font-size: 1.1rem;
}
.leftMenu .dropdown ul.dropdown-menu li.active-menu {
  background-color: rgb(167, 165, 165);
  border-radius: 1rem;
}
.leftMenu .dropdown ul.dropdown-menu li.active-menu a {
  color: white;
}

.profile-area {
  height: 100%;
  width: 100%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-area h1 {
  font-weight: normal;
  color: rgb(109, 109, 109);
}
.profile-area .profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.profile-area .profile-wrapper .field-wrapper {
  margin: 1rem;
  padding: 0.4rem 2.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.profile-area .profile-wrapper .field-wrapper label {
  width: 5rem;
  text-align: left;
}
.profile-area .profile-wrapper .field-wrapper input,
.profile-area .profile-wrapper .field-wrapper select {
  caret-color: auto;
  font-size: 1.1rem;
  width: 20rem;
  padding: 0.8rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.profile-area .profile-wrapper .field-wrapper .error-message {
  position: absolute;
  right: 0;
  color: red;
}
.profile-area .profile-wrapper .email input {
  caret-color: transparent;
  background-color: rgba(0, 0, 0, 0.1019607843);
}
.profile-area .profile-wrapper button {
  font-size: 1.1rem;
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(109, 109, 109);
  border: none;
  border-radius: 5px;
  color: white;
}
.profile-area .profile-wrapper button:hover {
  background-color: gray;
}

.management-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}
.management-area .management-pagination {
  min-height: 5vh;
  padding: 1rem;
}
.management-area .management-pagination .pagination {
  display: flex;
  flex-direction: row;
}
.management-area .management-pagination .pagination button {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(109, 109, 109);
}
.management-area .management-pagination .pagination button:hover {
  background-color: gray;
}
.management-area .management-pagination .pagination button:disabled {
  background-color: #cccccc; /* 灰色背景 */
  color: #666666; /* 深灰色文字 */
  cursor: not-allowed; /* 改變游標樣式 */
}
.management-area .list-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 100%;
  min-height: 70vh;
}
.management-area .list-wrapper .items-list,
.management-area .list-wrapper .complete-status {
  margin: 0.8rem;
  padding: 0.8rem 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgba(134, 133, 133, 0.363);
  width: 100%;
}
.management-area .list-wrapper .items-list:hover,
.management-area .list-wrapper .complete-status:hover {
  background-color: #dbdbdb;
}
.management-area .list-wrapper .items-list ul,
.management-area .list-wrapper .complete-status ul {
  flex-basis: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 1rem;
  width: 80%;
}
.management-area .list-wrapper .items-list ul li,
.management-area .list-wrapper .complete-status ul li {
  flex-basis: 20%;
  font-size: 1.2rem;
  color: rgb(29, 28, 28);
}
.management-area .list-wrapper .items-list ul .unavailable-item,
.management-area .list-wrapper .complete-status ul .unavailable-item {
  background-color: #d64040;
  color: white;
}
.management-area .list-wrapper .items-list .btn-set,
.management-area .list-wrapper .complete-status .btn-set {
  flex-basis: 40%;
  display: flex;
  justify-content: flex-end;
}
.management-area .list-wrapper .items-list .btn-set button,
.management-area .list-wrapper .complete-status .btn-set button {
  margin-right: 0.8rem;
  font-size: 1.1rem;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(109, 109, 109);
}
.management-area .list-wrapper .items-list .btn-set button:hover,
.management-area .list-wrapper .complete-status .btn-set button:hover {
  background-color: gray;
}
.management-area .list-wrapper .items-list .btn-set button:disabled,
.management-area .list-wrapper .complete-status .btn-set button:disabled {
  background-color: #cccccc; /* 灰色背景 */
  color: #666666; /* 深灰色文字 */
  cursor: not-allowed; /* 改變游標樣式 */
}
.management-area .list-wrapper .complete-status {
  background-color: #cfcfcf;
}
.management-area .list-wrapper .complete-status:hover {
  background-color: #a5a5a5;
}
.management-area .list-wrapper .complete-status ul li {
  color: rgb(29, 28, 28);
}

.detail-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
.detail-area .detail-container {
  margin: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
}
.detail-area .detail-container .top-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detail-area .detail-container .top-area h1 {
  font-size: 1.5rem;
}
.detail-area .detail-container .top-area .feature-wrapper {
  flex: 3;
  display: flex;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info {
  flex: 1;
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info P {
  margin: 2rem;
  font-size: 1.2rem;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info .quantity-control {
  display: flex;
  align-items: center;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info .quantity-control .quantity-btn {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  background-color: #ddd;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info .quantity-control .quantity-btn:hover {
  background-color: #ccc;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info .quantity-control .quantity-btn:focus {
  outline: none;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info .quantity-control .quantity-btn:disabled {
  background-color: #cccccc; /* 灰色背景 */
  color: #666666; /* 深灰色文字 */
  cursor: not-allowed; /* 改變游標樣式 */
}
.detail-area .detail-container .top-area .feature-wrapper .product-info .quantity-control .quantity-input {
  width: 5rem;
  height: 2rem;
  text-align: center;
  border: 1px solid #ccc;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info button.feature {
  border: none;
  background-color: #555555;
  padding: 0.8rem;
  border-radius: 1rem;
  width: 15rem;
  color: white;
  font-size: 1rem;
  margin: 1rem;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info button.feature:hover {
  background-color: #888888;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info button.feature:disabled {
  background-color: #cccccc; /* 灰色背景 */
  color: #666666; /* 深灰色文字 */
  cursor: not-allowed; /* 改變游標樣式 */
}
.detail-area .detail-container .top-area .image-container {
  flex: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.detail-area .detail-container .top-area .image-container .image-wrapper {
  padding: 0rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(182, 182, 182);
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-list {
  height: 20%;
  display: flex;
  justify-content: center;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-list .image-pieces {
  cursor: pointer;
  display: flex;
  margin: 0rem 0.5rem;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-list .image-pieces img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 0.5rem;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-list .selected img {
  width: 100px;
  height: 100px;
  border: 4px solid rgb(136, 136, 136);
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-cover {
  cursor: pointer;
  margin: 0.5rem 0rem;
  height: 30rem;
  width: 60rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-cover .pagination {
  position: absolute;
  z-index: 1;
  display: flex;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-cover .pagination button {
  border: none;
  border-radius: 50%;
  padding: 0.8rem;
  margin: 0.5rem;
  background-color: rgba(41, 41, 41, 0.6784313725);
  color: white;
  font-size: 1rem;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-cover .pagination button:disabled {
  background-color: #cccccc; /* 灰色背景 */
  color: #666666; /* 深灰色文字 */
  cursor: not-allowed; /* 改變游標樣式 */
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-cover .pagination:hover button {
  border: none;
  border-radius: 50%;
  padding: 0.8rem;
  margin: 0.5rem;
  background-color: #acacac;
  color: rgb(97, 97, 97);
  font-size: 1rem;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-cover .left {
  left: 0;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-cover .right {
  right: 0;
}
.detail-area .detail-container .top-area .image-container .image-wrapper .image-cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail-area .detail-container .description {
  width: 80%;
  margin: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.detail-area .detail-container .description p {
  font-size: 1.2rem;
}

.preview-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.664);
}
.preview-modal .close-content {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.925);
}
.preview-modal .close-content .close {
  cursor: pointer;
  margin-right: 1rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s;
}
.preview-modal .preview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.preview-modal .preview-content img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-bottom: 6rem;
}

.home-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.home-area .products-area {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: rgb(241, 240, 240);
}
.home-area .products-area .products-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.home-area .products-area .products-list .product-wrapper {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  flex-basis: calc(25% - 2rem);
  box-sizing: border-box;
}
.home-area .products-area .products-list .product-wrapper:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.473);
}
.home-area .products-area .products-list .product-wrapper .cover {
  display: flex;
  width: 100%;
  height: 20rem;
}
.home-area .products-area .products-list .product-wrapper .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-area .products-area .products-list .product-wrapper .info {
  margin-top: 0.5rem;
}

.payment-options {
  width: 100%;
  display: flex;
  justify-content: center;
}
.payment-options .buttons-wrapper {
  width: 90%;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment-options .buttons-wrapper button {
  padding: 2rem;
  margin: 1rem;
  border: none;
  font-size: 1.2rem;
}
.payment-options .buttons-wrapper button:hover {
  background-color: #555555;
  color: white;
}/*# sourceMappingURL=style.css.map */