* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chocolate Classical Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
  caret-color: transparent;
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0.5rem;
  padding: 0.5rem;

  .input-label {
    display: block;
    text-align: center;
    width: 6rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
    font-size: 1.1rem;
    white-space: nowrap; /* 防止文字換行 */
    // overflow: hidden; /* 隱藏超出範圍的文字 */
    // text-overflow: ellipsis; /* 用省略號表示被截斷的文字 */
  }

  .input-element {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    caret-color: auto;
  }

  .error-message {
    bottom: -30%;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    text-align: center;
    color: red;
    margin-top: 0.5rem;
  }
}

.button {
  width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  background-color: rgb(109, 109, 109);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: gray;
  }
  &:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
}

.small-button {
  padding: 0.1rem 1rem;
  font-size: 1rem;
}

.verify-form {
  display: flex;
  margin: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

li {
  position: relative;
  list-style: none;
  .full-link {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    padding: 10px;
    box-sizing: border-box;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(80, 79, 79, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  .modal-container {
    // border: 2px solid blue;
    background: white;
    padding: 0.2rem;
    margin: 0.5rem;
    width: 80%;
    height: 80vh;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: none;
  }
  h2 {
    // border: 2px solid green;
    width: 100%;
    height: 6%;
    text-align: center;
  }

  .modal-content {
    // border: 2px solid red;
    width: 100%;
    height: 95%;
    display: flex;
  }
}

div.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header.header {
    height: 8vh;
    margin: 0.5rem;
    margin-top: 0rem;
    padding: 1rem;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    .user-center-layout {
      flex: 1;
      padding: 1rem;
      display: flex;
      background-color: rgb(240, 240, 240);
      .user-center-nav {
        margin: 0rem 1rem;
        height: 100%;
        flex-basis: 15%;
        display: flex;
        flex-direction: column;
      }
      .user-center-content {
        padding: 0.5rem;
        margin: 0rem 1rem;
        height: 100%;
        flex-basis: 85%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
  footer.footer {
    padding: 1rem;
    text-align: center;
    background-color: gray;
  }
}

nav.commonNav {
  ul {
    display: flex;
    justify-content: center;
    li {
      display: flex;
      cursor: pointer;
      &:hover {
        background-color: gray;
        border-radius: 1rem;
      }
      &:hover a {
        color: white;
      }
      a {
        padding: 1rem;
        color: gray;
        font-size: 1.1rem;
      }
    }
  }
}

.auth-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;

  .auth-form {
    margin-top: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .auth-form__title {
      text-align: center;
      font-size: 1.5rem;
      font-weight: normal;
      color: gray;
    }

    .auth-form__form {
      margin: 1rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 1rem;

      .auth-form__field {
        width: 100%;
        display: flex;
        justify-content: center;

        .auth-form__submit {
          margin: 1rem;
        }
      }
    }
  }
}

.img-manager {
  box-sizing: border-box;
  margin: 0.25rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  // border: 2px solid purple;
  .image-manager__local {
    box-sizing: border-box;
    margin: 0.25rem;
    // border: 2px solid yellow;
    display: flex;
    .image-manager__title {
      margin: 0.25rem;
      font-size: 1.25rem;
      font-weight: normal;
      color: gray;
      // border: 2px solid green;
    }
    .image-manager__upload-input {
      // border: 2px solid orange;
      margin: 0.25rem;
      input::file-selector-button {
        background-color: rgb(109, 109, 109);
        color: white;
        border: none;
        padding: 0.5rem;
        border-radius: 5px;
        &:hover {
          background-color: gray;
        }
      }
    }
  }
  .image-manager__gallery {
    // border: 2px solid blue;
    box-sizing: border-box;
    margin: 0.25rem;
    display: flex;
    .image-manager__upload-list {
      // border: 2px solid red;
      margin: 0.25rem;
      display: flex;
      flex-wrap: wrap;
      .image-manager__item {
        box-sizing: border-box;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.66);
        // border: 2px solid green;
        margin: 0.25rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: calc(25% - 0.5rem);
        height: calc(100vh / 4 - 0.5rem);
        .image-manager__img {
          // border: 2px solid yellow;
          width: 100%;
          height: 100%;
          object-fit: cover;
          overflow: hidden;
        }
        .image-manager__btn-group {
          display: flex;
        }
      }
    }
  }
  .image-manager__next-btn {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.leftMenu {
  display: flex;
  flex-direction: column;

  // padding: 0.5rem;
  // flex-basis: 15%;
  .dropdown {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    // background-color: rgb(173, 173, 173);
    // border-radius: 1rem;
    button.dropdown-button {
      margin-top: 1rem;
      border: none;
      font-size: 1.2rem;
      background-color: rgb(109, 109, 109);
      color: white;
      padding: 0.5rem;
      border-radius: 1rem;
      &:hover {
        background-color: gray;
      }
    }
    ul.dropdown-menu {
      border: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 0.5rem;
      li,
      li.active-menu {
        cursor: pointer;
        margin-top: 0.5rem;
        text-align: center;
        padding: 0.5rem;
        width: 100%;
        border: none;
        color: white;
        &:hover {
          background-color: rgb(167, 165, 165);
          border-radius: 1rem;
        }
        &:hover a {
          color: white;
        }
        a {
          color: rgb(78, 78, 78);
          font-size: 1.1rem;
        }
      }
      li.active-menu {
        background-color: rgb(167, 165, 165);
        border-radius: 1rem;
        a {
          color: white;
        }
      }
    }
  }
}

.profile-area {
  height: 100%;
  width: 100%;
  // border: 2px solid greenyellow;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h1 {
    // margin-top: 1.5rem;
    font-weight: normal;
    color: rgb(109, 109, 109);
  }
  .profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .field-wrapper {
      margin: 1rem;
      padding: 0.4rem 2.5rem;
      display: flex;
      align-items: center;
      position: relative;

      label {
        width: 5rem;
        text-align: left;
      }
      input,
      select {
        caret-color: auto;
        font-size: 1.1rem;
        width: 20rem;
        padding: 0.8rem;
        outline: none;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      }
      .error-message {
        position: absolute;
        right: 0;
        color: red;
      }
    }
    .email {
      input {
        caret-color: transparent;
        background-color: #0000001a;
      }
    }
    button {
      // border-top: 1px solid black;
      font-size: 1.1rem;
      width: 10rem;
      margin-top: 1.5rem;
      padding: 0.5rem;
      background-color: rgb(109, 109, 109);
      border: none;
      border-radius: 5px;
      color: white;

      &:hover {
        background-color: gray;
      }
    }
  }
}

// .publish-area {
//   height: 100%;
//   width: 90%;
//   // margin: 1rem;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   h1 {
//     font-size: 1.5rem;
//     font-weight: normal;
//     color: rgb(109, 109, 109);
//   }
//   .publish-wrapper {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 90%;
//     padding: 1rem;
//     .publish-form {
//       padding: 0.5rem;
//       width: 80%;
//       .field-wrapper {
//         margin: 1rem 0.5rem;
//         padding: 0.4rem 2.5rem;
//         display: flex;
//         align-items: center;
//         position: relative;
//         label {
//           width: 20%;
//           text-align: left;
//           margin-right: 0.5rem;
//         }
//         input {
//           caret-color: auto;
//           padding: 0.5rem 0.8rem;
//           font-size: 1.2rem;
//           width: 80%;
//           outline: none;
//           border: none;
//           box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//         }
//         .price,
//         .inventory {
//           width: 8rem;
//         }
//         .err-msg {
//           position: absolute;
//           color: red;
//           right: 0;
//         }

//         .description {
//           caret-color: auto;
//           width: 80%;
//           height: 10rem;
//           padding: 0.8rem;
//           font-size: 1.1rem;
//           cursor: text;
//           outline: none;
//           border: none;
//           box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
//           resize: none; /* 禁止調整大小 */
//           overflow: auto; /* 確保滾動條出現 */
//         }
//       }
//       .img-wrapper {
//         display: flex;
//         button {
//           margin: 2rem;
//           margin-left: 0rem;
//           width: 2rem;
//           font-size: 1.5rem;
//           background-color: white;
//           border: 1px solid rgba(2, 2, 2, 0.486);
//         }
//         .image-container {
//           display: flex;
//           justify-content: center;
//           align-items: center;
//           border: 1px solid rgb(179, 179, 179);
//           width: 5rem;
//           height: 5rem;
//           margin: 0.4rem;
//           margin-left: 0rem;
//           overflow: hidden;
//           .icon-container {
//             color: gray;
//           }
//           .props-img {
//             position: relative;
//             display: flex;
//             .delete-button {
//               display: flex;
//               justify-content: center;
//               align-items: center;
//               position: absolute;
//               right: 0;
//               z-index: 1;
//               background-color: rgba(255, 0, 0, 0.733);
//               border-radius: 50%;
//               width: 1.3rem;
//               height: 1.3rem;
//               margin: 0.1rem;
//               .fax {
//                 color: white;
//               }
//             }
//             img {
//               width: 80px;
//               height: 80px;
//               object-fit: cover;
//               cursor: pointer;
//             }
//           }
//         }
//       }
//     }
//     .btn-set {
//       margin-top: 3rem;
//       display: flex;
//       justify-content: space-around;
//       width: 20rem;
//       button {
//         font-size: 1rem;
//         background-color: rgb(109, 109, 109);
//         color: white;
//         border: none;
//         padding: 0.5rem 0.8rem;
//         border-radius: 5px;
//         &:hover {
//           background-color: gray;
//         }
//       }
//       button:disabled {
//         background-color: #cccccc; /* 灰色背景 */
//         color: #666666; /* 深灰色文字 */
//         cursor: not-allowed; /* 改變游標樣式 */
//       }
//     }
//   }
// }

.management-area {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  .management-pagination {
    min-height: 5vh;
    padding: 1rem;
    .pagination {
      display: flex;
      flex-direction: row;
      button {
        margin-right: 0.8rem;
        font-size: 1.1rem;
        padding: 0.3rem 1rem;
        border-radius: 5px;
        border: none;
        color: white;
        background-color: rgb(109, 109, 109);
        &:hover {
          background-color: gray;
          // color: rgb(29, 28, 28);
        }
      }

      button:disabled {
        background-color: #cccccc; /* 灰色背景 */
        color: #666666; /* 深灰色文字 */
        cursor: not-allowed; /* 改變游標樣式 */
      }
    }
  }
  .list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 100%;
    min-height: 70vh;
    .items-list,
    .complete-status {
      margin: 0.8rem;
      padding: 0.8rem 0.5rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border: 1px solid rgba(134, 133, 133, 0.363);
      width: 100%;
      &:hover {
        background-color: #dbdbdb;
      }
      ul {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-right: 1rem;
        width: 80%;
        li {
          flex-basis: 20%;
          font-size: 1.2rem;
          // margin-left: 2rem;
          color: rgb(29, 28, 28);
        }
        .unavailable-item {
          background-color: #d64040;
          color: white;
        }
      }
      .btn-set {
        flex-basis: 40%;
        display: flex;
        justify-content: flex-end;
        button {
          margin-right: 0.8rem;
          font-size: 1.1rem;
          padding: 0.3rem 1rem;
          border-radius: 5px;
          border: none;
          color: white;
          background-color: rgb(109, 109, 109);
          &:hover {
            background-color: gray;
          }
        }
        button:disabled {
          background-color: #cccccc; /* 灰色背景 */
          color: #666666; /* 深灰色文字 */
          cursor: not-allowed; /* 改變游標樣式 */
        }
      }
    }
    .complete-status {
      background-color: #cfcfcf;
      &:hover {
        background-color: #a5a5a5;
      }
      ul {
        li {
          color: rgb(29, 28, 28);
        }
      }
    }
  }
}

.detail-area {
  width: 100%;
  display: flex;
  justify-content: center;
  .detail-container {
    margin: 1rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
    .top-area {
      h1 {
        font-size: 1.5rem;
      }
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // border: 2px solid rgb(255, 0, 179);

      .feature-wrapper {
        flex: 3;
        // border: 2px solid orange;
        display: flex;

        .product-info {
          flex: 1;
          width: 100%;
          // border: 2px solid gray;
          margin: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          P {
            margin: 2rem;
            font-size: 1.2rem;
          }
          .quantity-control {
            display: flex;
            align-items: center;
            .quantity-btn {
              display: flex;
              align-items: center;
              height: 2rem;
              padding: 0.5rem;
              border: none;
              background-color: #ddd;
              color: #333;
              font-size: 1rem;
              cursor: pointer;
              // border-radius: 1rem;
              &:hover {
                background-color: #ccc;
              }
              &:focus {
                outline: none;
              }
              &:disabled {
                background-color: #cccccc; /* 灰色背景 */
                color: #666666; /* 深灰色文字 */
                cursor: not-allowed; /* 改變游標樣式 */
              }
            }

            .quantity-input {
              width: 5rem;
              height: 2rem;
              text-align: center;
              border: 1px solid #ccc;
            }
          }

          button.feature {
            border: none;
            background-color: #555555;
            padding: 0.8rem;
            border-radius: 1rem;
            width: 15rem;
            color: white;
            font-size: 1rem;
            margin: 1rem;
            &:hover {
              background-color: #888888;
            }
            &:disabled {
              background-color: #cccccc; /* 灰色背景 */
              color: #666666; /* 深灰色文字 */
              cursor: not-allowed; /* 改變游標樣式 */
            }
          }
        }
      }

      .image-container {
        flex: 7;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        // border: 2px solid blue;
        // background-color: rgb(222, 222, 222);
        .image-wrapper {
          padding: 0rem 1rem;
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: rgb(182, 182, 182);
          // border: 2px solid green;

          .image-list {
            height: 20%;
            display: flex;
            justify-content: center;
            // border: 2px solid yellow;

            .image-pieces {
              cursor: pointer;
              display: flex;
              // border: 2px solid black;
              margin: 0rem 0.5rem;
              img {
                width: 80px;
                height: 80px;
                object-fit: cover;
                margin-bottom: 0.5rem;
              }
            }
            .selected {
              img {
                width: 100px;
                height: 100px;
                border: 4px solid rgb(136, 136, 136);
              }
            }
          }
          .image-cover {
            cursor: pointer;
            margin: 0.5rem 0rem;
            height: 30rem;
            width: 60rem;
            // border: 2px solid brown;
            padding: 0.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;
            .pagination {
              position: absolute;
              z-index: 1;
              display: flex;
              button {
                border: none;
                border-radius: 50%;
                padding: 0.8rem;
                margin: 0.5rem;
                background-color: #292929ad;
                color: white;
                font-size: 1rem;
                &:disabled {
                  background-color: #cccccc; /* 灰色背景 */
                  color: #666666; /* 深灰色文字 */
                  cursor: not-allowed; /* 改變游標樣式 */
                }
              }
              &:hover {
                button {
                  border: none;
                  border-radius: 50%;
                  padding: 0.8rem;
                  margin: 0.5rem;
                  background-color: #acacac;
                  color: rgb(97, 97, 97);
                  font-size: 1rem;
                }
              }
            }
            .left {
              left: 0;
            }
            .right {
              right: 0;
            }
            img {
              // padding: 1rem;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
    .description {
      width: 80%;
      margin: 3rem 1rem;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      // border: 2px solid greenyellow;
      p {
        font-size: 1.2rem;
      }
    }
  }
}

.preview-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.664);
  .close-content {
    display: flex;
    width: 100%;
    height: 4rem;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.925);
    .close {
      cursor: pointer;
      margin-right: 1rem;
      color: #fff;
      font-size: 2rem;
      font-weight: bold;
      transition: 0.3s;
    }
  }
  .preview-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      max-width: 1000px;
      height: auto;
      margin-bottom: 6rem;
    }
  }
}

.home-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;

  .products-area {
    width: 80%;
    display: flex;
    justify-content: center;
    background-color: rgb(241, 240, 240);

    .products-list {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .product-wrapper {
        cursor: pointer;
        margin: 1rem;
        padding: 0.5rem;
        flex-basis: calc(25% - 2rem);
        box-sizing: border-box;
        &:hover {
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.473);
        }
        .cover {
          display: flex;
          width: 100%;
          height: 20rem;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .info {
          margin-top: 0.5rem;
        }
      }
    }
  }
}

.payment-options {
  width: 100%;
  display: flex;
  justify-content: center;
  .buttons-wrapper {
    width: 90%;
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
    button {
      padding: 2rem;
      margin: 1rem;
      border: none;
      font-size: 1.2rem;
      &:hover {
        background-color: #555555;
        color: white;
      }
    }
  }
}
