@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Chocolate Classical Sans", sans-serif;
  text-decoration: none;
  list-style-type: none;
  caret-color: transparent;
}

.product-editor-container {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  max-width: 50rem;
}
.product-editor-container .product-editor__title {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: gray;
}
.product-editor-container .product-editor__form {
  margin-top: 0rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
.product-editor-container .product-editor__form .product-editor__field,
.product-editor-container .product-editor__form .product-editor__image {
  width: 100%;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0rem;
}
.product-editor-container .product-editor__form .product-editor__field button,
.product-editor-container .product-editor__form .product-editor__image button {
  margin: 0.5rem 0rem;
  padding: 0.5rem;
}
.product-editor-container .product-editor__form .product-editor__image {
  flex-direction: row;
}
.product-editor-container
  .product-editor__form
  .product-editor__image
  .product-editor__image__container {
  display: flex;
  flex: 0 1 85%;
}
.product-editor-container .product-editor__form .product-editor__image label {
  flex: 0 0 10%;
  text-align: center;
}
.product-editor-container
  .product-editor__form
  .product-editor__image
  .product-editor__image__space {
  flex: 0 0 5%;
}

.image-field-container {
  flex: 0 1 25%;
  box-sizing: border-box;
  margin-right: 0.25rem;
  height: 8rem;
}
.image-field-container .image-field__field {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.image-field-container .image-field__field .image-field__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 2rem;
  color: #ccc;
  border: 1px dashed #ccc;
  cursor: pointer;
}
.image-field-container .image-field__field .image-field__icon:hover {
  color: #999;
  border-color: #999;
}
.image-field-container .image-field__field .image-field__image {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.image-field-container
  .image-field__field
  .image-field__image
  .image-field__deleteBtn {
  font-size: 1.25rem;
  position: absolute;
  left: 85%;
  color: darkred;
  cursor: pointer;
}
.image-field-container
  .image-field__field
  .image-field__image
  .image-field__deleteBtn:hover {
  color: red;
}
.image-field-container .image-field__field .image-field__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.input-container,
.text-area-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-container .input-label,
.input-container .text-area-label,
.text-area-container .input-label,
.text-area-container .text-area-label {
  flex: 0 0 12.5%;
  display: block;
  text-align: center;
  width: 6rem;
  font-size: 1.1rem;
}
.input-container .input-element,
.input-container .textarea,
.text-area-container .input-element,
.text-area-container .textarea {
  width: 100%;
  flex: 0 1 70%;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  caret-color: auto;
}
.input-container .textarea,
.text-area-container .textarea {
  min-height: 10rem;
}
.input-container .error-message-container,
.text-area-container .error-message-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 12.5%;
}
.input-container .error-message-container .error-message,
.text-area-container .error-message-container .error-message {
  text-align: center;
  color: red;
}

@media screen and (max-width: 768px) {
  .input-container .input-label,
  .input-container .text-area-label,
  .text-area-container .input-label,
  .text-area-container .text-area-label {
    font-size: 1rem;
    flex: 0 0 15%;
  }
  .input-container .input-element,
  .input-container .textarea,
  .text-area-container .input-element,
  .text-area-container .textarea {
    font-size: 1rem;
    flex: 0 1 70%;
  }
  .input-container .error-message-container,
  .text-area-container .error-message-container {
    flex: 0 1 15%;
  }
  .product-editor-container .product-editor__title {
    font-size: 1rem;
  }
  .product-editor-container
    .product-editor__form
    .product-editor__image
    .product-editor__image__container {
    flex: 0 1 70%;
  }
  .product-editor-container .product-editor__form .product-editor__image label {
    flex: 0 0 15%;
  }
  .product-editor-container
    .product-editor__form
    .product-editor__image
    .product-editor__image__space {
    flex: 0 0 15%;
  }
  .image-field-container {
    height: 6rem;
  }
  .image-field-container .image-field__field .image-field__icon {
    font-size: 1rem;
  }
  .image-field-container
    .image-field__field
    .image-field__image
    .image-field__deleteBtn {
    font-size: 1rem;
  }
}
.button {
  width: 100%;
  max-width: 300px;
  border: none;
  background-color: rgb(109, 109, 109);
  color: white;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}
.button:hover {
  background-color: gray;
}
.button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.li {
  position: relative;
  list-style: none;
}
.li .full-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  box-sizing: border-box;
}

.small-button {
  padding: 0.1rem 1rem;
  font-size: 1rem;
}

.verify-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 70%;
}
.verify-form .verify-form__input {
  flex: 0 0 30%;
  display: flex;
}
.verify-form .verify-form__button {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(80, 79, 79, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.modal-overlay .modal-container {
  background: white;
  padding: 0.2rem;
  margin: 0.5rem;
  width: 80%;
  height: 80vh;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: none;
}
.modal-overlay .modal-container .modal-title {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  color: gray;
}
.modal-overlay .modal-container .modal-tools {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.modal-overlay .modal-container .modal-tools li {
  margin: 0rem 0.5rem;
}
.modal-overlay .modal-container .modal-tools .modal-button {
  color: yellow;
}
.modal-overlay h2 {
  width: 100%;
  height: 6%;
  text-align: center;
}
.modal-overlay .modal-content {
  width: 100%;
  height: 95%;
  display: flex;
}

.pagination-container {
  border: 2px solid purple;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.pagination-container .pagination-tools {
  display: flex;
}
.pagination-container .pagination-select {
  max-width: 10rem;
  position: absolute;
  left: 0;
}

div.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
div.layout header.header {
  height: 8vh;
  margin: 0.5rem;
  margin-top: 0rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}
div.layout .main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
div.layout .main .user-center-layout {
  flex: 1;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  background-color: rgb(240, 240, 240);
}
div.layout .main .user-center-layout .user-center-nav {
  flex: 0 0 10%;
  margin-left: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
div.layout .main .user-center-layout .user-center-content {
  flex: 0 1 80%;
  width: 100%;
  padding: 0.5rem;
  margin: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.layout footer.footer {
  padding: 1rem;
  text-align: center;
  background-color: gray;
}

.nav-container ul {
  display: flex;
  justify-content: center;
}
.nav-container ul li {
  display: flex;
  cursor: pointer;
}
.nav-container ul li:hover {
  background-color: gray;
  border-radius: 1rem;
}
.nav-container ul li:hover a {
  color: white;
}
.nav-container ul li a {
  padding: 1rem;
  color: gray;
  font-size: 1.1rem;
}

.auth-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 1rem;
}
.auth-container .auth-form {
  margin-top: 2rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.auth-container .auth-form .auth-form__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: normal;
  color: gray;
}
.auth-container .auth-form .auth-form__form {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
}
.auth-container .auth-form .auth-form__form .auth-form__field {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
}
.auth-container .auth-form .auth-form__form .auth-form__field button {
  max-width: 70%;
  padding: 0.5rem;
}

.img-manager-component {
  box-sizing: border-box;
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  padding: 0.25rem;
}
.img-manager-component button {
  padding: 0.2rem 0.5rem;
  margin: 0.25rem 0.5rem;
}
.img-manager-component .image-manager__local {
  box-sizing: border-box;
  margin: 0.25rem;
  display: flex;
}
.img-manager-component .image-manager__local .image-manager__title {
  margin: 0.25rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: gray;
}
.img-manager-component .image-manager__local .image-manager__upload-input {
  margin: 0.25rem;
}
.img-manager-component
  .image-manager__local
  .image-manager__upload-input
  input::file-selector-button {
  background-color: rgb(109, 109, 109);
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
}
.img-manager-component
  .image-manager__local
  .image-manager__upload-input
  input::file-selector-button:hover {
  background-color: gray;
}
.img-manager-component .image-manager__gallery {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 100%;
}
.img-manager-component .image-manager__gallery .image-manager__upload-list {
  margin: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
.img-manager-component
  .image-manager__gallery
  .image-manager__upload-list
  .image-manager__item {
  box-sizing: border-box;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.66);
  margin: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(25% - 0.5rem);
  max-height: calc(25vh - 0.5rem);
}
.img-manager-component
  .image-manager__gallery
  .image-manager__upload-list
  .image-manager__item
  .image-manager__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  overflow: hidden;
}
.img-manager-component
  .image-manager__gallery
  .image-manager__upload-list
  .image-manager__item
  .image-manager__btn-group {
  display: flex;
}
.img-manager-component .image-manager__next-btn {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dashboard-container {
  border: 2px solid red;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.dashboard-container .history-list__title {
  border: 2px solid green;
  box-sizing: border-box;
}
.dashboard-container .history-list__title h2 {
  text-align: center;
  font-size: 1.5rem;
  color: rgb(73, 73, 73);
}
.dashboard-container .dashboard-content {
  border: 2px solid blue;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
}
.dashboard-container .dashboard-pagination {
  border: 2px solid yellow;
  box-sizing: border-box;
  display: flex;
  height: 10%;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.dashboard-container .dashboard-pagination button {
  margin: 0.25rem;
}
.dashboard-container .dashboard-pagination input {
  margin: 0.25rem;
}

.item-list {
  border: 2px solid green;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  margin: 0.5rem;
}
.item-list ul {
  display: flex;
}
.item-list ul li {
  margin: 0rem 0.5rem;
}
.item-list .item-list__button {
  display: flex;
}
.item-list .item-list__button button {
  margin: 0rem 0.5rem;
  padding: 0.5rem;
}

.userCenterNav-container {
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}
.userCenterNav-container .userCenterNav-dropdown {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.userCenterNav-container .userCenterNav-dropdown button {
  margin-top: 0.5rem;
  border: none;
  padding: 0.75rem 0rem;
  border-radius: 1rem;
}
.userCenterNav-container .userCenterNav-dropdown .userCenterNav-dropdown__menu {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  width: 90%;
}
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li,
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li.active-menu {
  cursor: pointer;
  margin-top: 0.5rem;
  text-align: center;
  padding: 0.5rem;
  width: 100%;
  border: none;
  color: white;
}
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li:hover,
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li.active-menu:hover {
  background-color: rgb(167, 165, 165);
  border-radius: 1rem;
}
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li:hover
  a,
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li.active-menu:hover
  a {
  color: white;
}
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li
  a,
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li.active-menu
  a {
  color: rgb(78, 78, 78);
  font-size: 1.1rem;
}
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li.active-menu {
  background-color: rgb(167, 165, 165);
  border-radius: 1rem;
}
.userCenterNav-container
  .userCenterNav-dropdown
  .userCenterNav-dropdown__menu
  li.active-menu
  a {
  color: white;
}

.switch-button {
  position: absolute;
  display: flex;
  right: 1%;
}
.switch-button button {
  padding: 0.5rem;
}

.image-manager-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  position: relative;
}
.image-manager-container .image-manager-pagination {
  display: flex;
  align-items: center;
  height: 10%;
  width: 100%;
  bottom: 0;
}

.profile-area {
  height: 100%;
  width: 100%;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-area h1 {
  font-weight: normal;
  color: rgb(109, 109, 109);
}
.profile-area .profile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.profile-area .profile-wrapper .field-wrapper {
  margin: 1rem;
  padding: 0.4rem 2.5rem;
  display: flex;
  align-items: center;
  position: relative;
}
.profile-area .profile-wrapper .field-wrapper label {
  width: 5rem;
  text-align: left;
}
.profile-area .profile-wrapper .field-wrapper input,
.profile-area .profile-wrapper .field-wrapper select {
  caret-color: auto;
  font-size: 1.1rem;
  width: 20rem;
  padding: 0.8rem;
  outline: none;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.profile-area .profile-wrapper .field-wrapper .error-message {
  position: absolute;
  right: 0;
  color: red;
}
.profile-area .profile-wrapper .email input {
  caret-color: transparent;
  background-color: rgba(0, 0, 0, 0.1019607843);
}
.profile-area .profile-wrapper button {
  font-size: 1.1rem;
  width: 10rem;
  margin-top: 1.5rem;
  padding: 0.5rem;
  background-color: rgb(109, 109, 109);
  border: none;
  border-radius: 5px;
  color: white;
}
.profile-area .profile-wrapper button:hover {
  background-color: gray;
}

.detail-area {
  width: 100%;
  display: flex;
  justify-content: center;
}
.detail-area .detail-container {
  margin: 1rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.473);
}
.detail-area .detail-container .top-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.detail-area .detail-container .top-area h1 {
  font-size: 1.5rem;
}
.detail-area .detail-container .top-area .feature-wrapper {
  flex: 3;
  display: flex;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info {
  flex: 1;
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.detail-area .detail-container .top-area .feature-wrapper .product-info P {
  margin: 2rem;
  font-size: 1.2rem;
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  .quantity-control {
  display: flex;
  align-items: center;
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  .quantity-control
  .quantity-btn {
  display: flex;
  align-items: center;
  height: 2rem;
  padding: 0.5rem;
  border: none;
  background-color: #ddd;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  .quantity-control
  .quantity-btn:hover {
  background-color: #ccc;
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  .quantity-control
  .quantity-btn:focus {
  outline: none;
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  .quantity-control
  .quantity-btn:disabled {
  background-color: #cccccc; /* 灰色背景 */
  color: #666666; /* 深灰色文字 */
  cursor: not-allowed; /* 改變游標樣式 */
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  .quantity-control
  .quantity-input {
  width: 5rem;
  height: 2rem;
  text-align: center;
  border: 1px solid #ccc;
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  button.feature {
  border: none;
  background-color: #555555;
  padding: 0.8rem;
  border-radius: 1rem;
  width: 15rem;
  color: white;
  font-size: 1rem;
  margin: 1rem;
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  button.feature:hover {
  background-color: #888888;
}
.detail-area
  .detail-container
  .top-area
  .feature-wrapper
  .product-info
  button.feature:disabled {
  background-color: #cccccc; /* 灰色背景 */
  color: #666666; /* 深灰色文字 */
  cursor: not-allowed; /* 改變游標樣式 */
}
.detail-area .detail-container .top-area .image-container {
  flex: 7;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.detail-area .detail-container .top-area .image-container .image-wrapper {
  padding: 0rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(182, 182, 182);
}
.detail-area
  .detail-container
  .top-area
  .image-container
  .image-wrapper
  .image-list {
  height: 20%;
  display: flex;
  justify-content: center;
}
.detail-area
  .detail-container
  .top-area
  .image-container
  .image-wrapper
  .image-list
  .image-pieces {
  cursor: pointer;
  display: flex;
  margin: 0rem 0.5rem;
}
.detail-area
  .detail-container
  .top-area
  .image-container
  .image-wrapper
  .image-list
  .image-pieces
  img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: 0.5rem;
}
.detail-area
  .detail-container
  .top-area
  .image-container
  .image-wrapper
  .image-list
  .selected
  img {
  width: 100px;
  height: 100px;
  border: 4px solid rgb(136, 136, 136);
}
.detail-area
  .detail-container
  .top-area
  .image-container
  .image-wrapper
  .image-cover {
  cursor: pointer;
  margin: 0.5rem 0rem;
  height: 30rem;
  width: 60rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.detail-area
  .detail-container
  .top-area
  .image-container
  .image-wrapper
  .image-cover
  .left {
  left: 0;
}
.detail-area
  .detail-container
  .top-area
  .image-container
  .image-wrapper
  .image-cover
  .right {
  right: 0;
}
.detail-area
  .detail-container
  .top-area
  .image-container
  .image-wrapper
  .image-cover
  img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.detail-area .detail-container .description {
  width: 80%;
  margin: 3rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.detail-area .detail-container .description p {
  font-size: 1.2rem;
}

.preview-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.664);
}
.preview-modal .close-content {
  display: flex;
  width: 100%;
  height: 4rem;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.925);
}
.preview-modal .close-content .close {
  cursor: pointer;
  margin-right: 1rem;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  transition: 0.3s;
}
.preview-modal .preview-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.preview-modal .preview-content img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  margin-bottom: 6rem;
}

.home-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem;
}
.home-area .products-area {
  width: 80%;
  display: flex;
  justify-content: center;
  background-color: rgb(241, 240, 240);
}
.home-area .products-area .products-list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.home-area .products-area .products-list .product-wrapper {
  cursor: pointer;
  margin: 1rem;
  padding: 0.5rem;
  flex-basis: calc(25% - 2rem);
  box-sizing: border-box;
}
.home-area .products-area .products-list .product-wrapper:hover {
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.473);
}
.home-area .products-area .products-list .product-wrapper .cover {
  display: flex;
  width: 100%;
  height: 20rem;
}
.home-area .products-area .products-list .product-wrapper .cover img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.home-area .products-area .products-list .product-wrapper .info {
  margin-top: 0.5rem;
}

.payment-options {
  width: 100%;
  display: flex;
  justify-content: center;
}
.payment-options .buttons-wrapper {
  width: 90%;
  background-color: #d8d8d8;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.payment-options .buttons-wrapper button {
  padding: 2rem;
  margin: 1rem;
  border: none;
  font-size: 1.2rem;
}
.payment-options .buttons-wrapper button:hover {
  background-color: #555555;
  color: white;
} /*# sourceMappingURL=style.css.map */
